.hidden {
    display: none !important;
}


.Web-constructor iframe {
    width: 100%;
    height: 600px;
    border: none;
}

.Web-constructor .content-mode,
.Web-constructor .edit-mode,
.Web-constructor .drag-mode,
.Web-constructor .props-mode{
    outline: none !important;
}


div.nanoModal {
    position: fixed;
    animation-duration: 0.2s;
    top: 50%;
    min-width:700px;
}

div.nanoModalOverlay {
    animation-duration: 0.3s;
    background:rgba(0,0,0,0.65);
}

.nanoModalBtn {
    padding:6px 33px;
}

.nanoModal .modal-custom-content textarea.form-control {
    margin-bottom: 5px;
    max-height: 150px;
    height:70px;
    resize:vertical;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
    min-height: 100%;
}


.Web-constructor .constructor-holder {
    position: relative;
}

.Web-constructor .codemirror-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
}

.Web-constructor .codemirror-holder .codemirror-ctrls {
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 999;
}

.Web-constructor .codemirror-holder .CodeMirror {
    height: 100% !important;
}


.Web-constructor .btn {
    padding: 6px 10px;
    cursor: pointer;
    border:1px solid #ccc;
}

.Web-constructor .btn.btn-success {
    background-color: #5cb85c;
    color: #ffffff;
    border-color: #4cae4c;
}

.Web-constructor .btn.btn-danger {
    background-color: #d9534f;
    color: #ffffff;
    border-color: #d43f3a;
}

.Web-constructor .btn.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}


.btn.btn-default {
    color: #000000;
    background-color: #fff;
    border-color: #ddd;
}

.btn.btn-default.active {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    outline: none;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
